body {
    font: 15px sans-serif;
}
.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke: #058dc7;
    stroke-width: 3px;
}
.overlay {
    fill: none;
    pointer-events: all;
}
.focus circle {
    fill: orange;
    stroke: #058dc7;
}
.bar {
    fill: #058dc7;
  }
.bar:hover {
fill: orange;
} 
.title {
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.axis {
font: 10px sans-serif;
}
.node circle {
cursor: pointer;
stroke: #3182bd;
stroke-width: 1.5px;
}
.node text {
font: 10px sans-serif;
pointer-events: none;
text-anchor: middle;
}
line.link {
fill: none;
stroke: #9ecae1;
stroke-width: 1.5px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  .scrap-d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .scrap-d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .scrap-d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  .oee-d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .oee-d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .oee-d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
  
  
  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }
  .lineStyle {
    fill: none;
    stroke: orangered;
    stroke-width: 1.75px;
  }

  .oeelineStyle {
    fill: none;
    stroke: orangered;
    stroke-width: 1.75px;
  }


  body {
    font: 16px sans-serif;
    padding: 20px;
    background-color: #343a40;
    margin:0px;
    color: #d6d6d6;
  }
  
  svg {
    min-height: 1.5rem;
    padding: 0;
    margin-bottom: 1.5rem;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #CBD2D6;
    border-radius: 6px;
  }
  
  svg rect:hover {
    opacity: .7;
  }
  
  svg g {
    fill: #2a2a2a;
    font-size: 11px;
  }
  
  svg g text.label,
  svg g text.ylabel {
    fill: #2A2A2A;
  }
  
  svg {
    background-color: #fff;
  }
  
  #form {
        position: relative;
        right: 10px;
        top: 10px;
        padding-bottom: 20px;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .line {
    stroke: #FF9900;
    fill: none;
    stroke-opacity: 25%;
    stroke-width: 1.75px;
  }
  
  .unfocused {
    stroke-opacity: 25%;
  }
  
  .focused {
    stroke-width: 2px;
    stroke-opacity: 100%;
  }
  
  
  .bar {
    fill: #058dc7;
  }
  
  .x.axis path {
    /*display: none;*/
  }
  
  
  .tooltip {
    position: absolute;
    z-index: 10;
    opacity: 1;
  }
  
  
  .tooltip p {
    background-color: #fff;
    padding: .5em 1em;
    font-size: 12px;
    line-height: 17px;
    color: black;
  }
  
  .tooltipHeader {
    font-weight: 700;
    font-size: 12.5px;
  }

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
