<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="./jeasyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="./jeasyui/themes/icon.css">
    <script type="text/javascript" src="./jeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="./jeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./datagrid-detailview.js"></script>
    <link rel="stylesheet" href="../style/settings_style.css">
</head>
<body>
    <div class="settingsHeader" style="width:100%;height:54px;">
        
    </div>
    <div class="easyui-layout" style="width:100%;min-height:646px;margin:auto;">
        <div id="p" data-options="region:'west'" title="" style="width:18.3%;">
            <div id="dashB" class="easy-layout" style="width:100%;height:100%;">
            </div>
        </div>
        <div data-options="region:'center'" title="">
            <table id="dg" title="Tool Settings" style="width:100%;height:100%;"
            url="/toolLocalSettings" 
            toolbar="#toolbar" pagination=""
            fitColumns="true" singleSelect="true">
                <thead>
                    <tr>
                        <th field="eq_id" width="10">ID</th>
                        <th field="process_name" width="50">Process Name</th>
                        <th field="eq_name" width="60">Equipment Name</th>
                        <th field="uph" width="15">UPH</th>
                        <th data-options="field:'oee_target'" width="15">OEE Target</th>
                        <th field="yield_target" width="15">Yield Target</th>
                    </tr>
                </thead>
            </table>
            <!--<div id="toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newItem()">New</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyItem()">Destroy</a>
            </div>-->
        </div>
    </div>
    <script type="text/javascript">
        $(function(){

            //  editing
            $('#dg').datagrid({
                view: detailview,
                detailFormatter:function(index,row){
                    return '<div class="ddv"></div>';
                },
                onExpandRow: function(index,row){
                    var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
                    ddv.panel({
                        border:false,
                        cache:true,
                        //href:'show_form.php?index='+index,
                        href:'/toolLocalSettings/'+ row.eq_id ,
                        onLoad:function(){

                            $('#dg').datagrid('fixDetailRowHeight',index);
                            $('#dg').datagrid('selectRow',index);
                            $('#dg').datagrid('getRowDetail',index).find('form').form('load',row);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight',index);
                }
            });
        });
        function saveItem(index){
            var row = $('#dg').datagrid('getRows')[index];
            //var url = row.isNewRecord ? 'save_user.php' : 'update_user.php?id='+row.id;
            var url = '/updateLocalSettings';
            $('#dg').datagrid('getRowDetail',index).find('form').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                /*
                success: function(data){
                    data = eval('('+data+')');
                    data.isNewRecord = false;
                    $('#dg').datagrid('collapseRow',index);
                    $('#dg').datagrid('updateRow',{
                        index: index,
                        row: data
                    });
                } */
                success: function(jsonUpdateResult){
                    if(!jsonUpdateResult){
                        $('#dg').datagrid('collapseRow',index);
                    } else {
                        
                        $('#dg').datagrid('collapseRow',index);
                        $('#dg').datagrid('updateRow',{
                        index: index,
                        row: JSON.parse(jsonUpdateResult)
                        });

                    }
                }
            });
        }
        function cancelItem(index){
            var row = $('#dg').datagrid('getRows')[index];
            if (row.isNewRecord){
                $('#dg').datagrid('deleteRow',index);
            } else {
                $('#dg').datagrid('collapseRow',index);
            }
        }
        /*function destroyItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','Are you sure you want to remove this user?',function(r){
                    if (r){
                        var index = $('#dg').datagrid('getRowIndex',row);
                        $.post('destroy_user.php',{id:row.id},function(){
                            $('#dg').datagrid('deleteRow',index);
                        });
                    }
                });
            }
        }
        function newItem(){
            $('#dg').datagrid('appendRow',{isNewRecord:true});
            var index = $('#dg').datagrid('getRows').length - 1;
            $('#dg').datagrid('expandRow', index);
            $('#dg').datagrid('selectRow', index);
        }*/
    </script>

    <style type="text/css">
        form{
            margin:0;
            padding:0;
        }
        .dv-table td{
            border:0;
        }
        .dv-table input{
            border:1px solid #ccc;
        }
    </style>
    
</body>
</html>